body{
  margin : 0;
  background-color : #E6DACE;
  min-height: 800px;
}

.barun{
  width : 22%;
}

.gif{
  padding-top : 5%;
  width : 25%;
}

.gif1{
  position: absolute;
  top : 20%;
  right : 43%;
  width : 14%;
}

.textcontainer{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.6vmax;
  position: absolute;
  top : 10%;
  width : 40%;
  right : 30%;
}

.button{
  font-family: 'Nanum Pen Script', cursive;
  background-color: black;
  color: white ;
  font-size: 1.2vmax;
  margin-right : 2%;
  border: 2px solid black ;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  border-radius: 22px;
}

.button a:hover{
  border: 2px solid white;
  background-color: white;
  color: black;
}

@media only screen and (max-device-width: 480px){

  .barun{
    padding-top : 5%;
    width : 35%;
  }

  .gif{
    padding-top : 10%;
    width : 30%;
  }

  .textcontainer{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2vmax;
    position: absolute;
    top : 16%;
    width : 72%;
    left : 14%;
  }

  .gif1{
    position: absolute;
    top : 35%;
    right : 32%;
    width : 36%;
  }

}
