body
{
  margin : 0;
  background-color : #E6DACE;
}

.gif{
  position: absolute;
  top : 60%;
  width: 14%;
  left: 43%;
}

.textcontainer{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.6vmax;
  position: absolute;
  top : 16%;
  width : 40%;
  right : 30%
}
