body{
  margin : 0;
  background-color : #E6DACE;
  min-height: 800px;
}

.fa {
  padding: 5%;
  text-align: center;
  text-decoration: none;
  margin-top : 5%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  color: black;
}

.fa-google {
  color: black;
}

.fa-linkedin {
  color: black;
}

.fa-youtube {
  color: black;
}

.fa-instagram {
  color: black;
}
